/*
 * Clases reutilizables para el proyecto
 * (Aquí pueden ir las clases de tu grid)
 */

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.text-uppercase {
  text-transform: uppercase;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
.container{
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
}
.row:before, .row:after{
  content: " ";
  display: table;
}
.row:after{
  clear: both;
}

[class*="col-"]{
  min-height: 7px;
  padding: 12px;
  float: left;
}
.col-1{
  /*(1 / 12)*100*/
  width: 8.333333%;
}
.col-2{
  /*(2 * 12)*100*/
  width: 16.6666%;
}

.col-3{
  /*(3 * 12)*100*/
  width: 25%;
}

.col-4{
  /*(4 * 12)*100*/
  width: 33.333%;
}

.col-5{
  /*(2 * 12)*100*/
  width: 41.6666%;
}

.link{
  font-weight: 700;
  padding: 21px;
  display: inline-block;
}
.logo{
  /*Hacemos que el logo se posicione al lado derecho*/
  float: right;

}
header{
  /*Hace que el menu este fijo*/
  position: fixed;
  background: white;
  width: 100%;
  top: 0;
}
.menu{
  padding: 14px 70px;
  overflow: auto;
}
